<!DOCTYPE html5>
<html>
  <head>
  </head>
  <body>
    <%= render "shared/header", login_page: false %>
    <main>
      <div id="user_info">
        <p>勤怠報告期間選択</p>
        <p>氏名: <%= @user_name %></p>
        <p>所属: <%= @department_name %></p>
      </div>
      <div id="select">
        <%= form_tag(@path, method: :get) do %>
          <%= select_tag "period", options_for_select(@period_array) %>
          <%= hidden_field_tag "state", "全て" %>
          <%= hidden_field_tag "user_id", @user_id %>
          <%= submit_tag "決定" %>
        <% end %>
      </div>
    </main>
    <style>
      * {
        margin: 0%;
        padding: 0%;
      }
      body {
        background: gainsboro;
      }
      main {
        background: white;
        padding: 10px;
      }
      div#user_info {
        font-size: 20px; 
        margin-bottom: 20px; 
        text-align: center;
      }
      div#select {
        text-align: center;
        margin-bottom: 30px;
      }
      div#changePasswordArea {
        text-align: center;
      }
      input[type=submit] {
        color: white;
        background: cornflowerblue;
        border-radius: 5px;
        border: none;
        margin-left: 3px;
        font-size: 15px;
        font-weight: bold;
        padding: 3px;
      }
      input[type=button] {
        color: white;
        background: cornflowerblue;
        border-radius: 5px;
        border: none;
        margin-left: 3px;
        font-size: 15px;
        font-weight: bold;
        padding: 3px;
      }
      select {
        font-size: 20px;
      }
    </style>
  </body>
</html>