<!DOCTYPE html5>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <p>勤怠管理システム</p>
    </header>
    <main>
      <p>氏名: <%= @user_name %></p>
      <p>所属: <%= @department_name %></p>
      <table border="1">
        <tr>
          <th>社員番号</th>
          <th>氏名</th>
          <th>状態</th>
          <th></th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user["user_id"] %></td>
            <td><%= user["name"] %></td>
            <td><%= user["state"] %></td>
            <% if user["state"] != "編集中" %>
              <td>
                <%= form_tag("/report", method: :get) do %>
                  <%= hidden_field_tag "user_id", user["user_id"] %>
                  <%= hidden_field_tag "period", @period %>
                  <%= submit_tag "報告を表示する" %>
                <% end %>
              </td>
            <% else %>
              <td>-</td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <div>
        <% if @page_index > 1 %>
          <%= link_to "前の10件", "/users?period=" + @period + "&page=" + (@page_index - 1).to_s %>
        <% end %>
        <%= link_to "次の10件", "/users?period=" + @period + "&page=" + (@page_index + 1).to_s %>
      </div>
    </main>
    <style>
      table th {
        padding: 3px;
      }
      table td {
        padding: 3px;
      }
    </style>
  </body>
</html>