<!DOCTYPE html5>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <p>勤怠管理システム</p>
    </header>
    <main>
      <div id="user_info">
        <p>報告者一覧</p>
        <p>氏名: <%= @user_name %></p>
        <p>所属: <%= @department_name %></p>
      </div>
      <table border="1" cellspacing="0" cellpadding="5" bordercolor="#333333">
        <tr>
          <th>社員番号</th>
          <th>氏名</th>
          <th>状態</th>
          <th></th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user["user_id"] %></td>
            <td><%= user["name"] %></td>
            <td><%= user["state"] %></td>
            <% if user["state"] != "編集中" %>
              <td>
                <div style="text-align: center">
                  <%= form_tag("/report", method: :get) do %>
                    <%= hidden_field_tag "user_id", user["user_id"] %>
                    <%= hidden_field_tag "period", @period %>
                    <%= submit_tag "報告を表示する" %>
                  <% end %>
                </div>
              </td>
            <% else %>
              <td>-</td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <div id="pages">
        <% if @page_index > 1 %>
          <%= link_to "前の10件", "/users?period=" + @period + "&page=" + (@page_index - 1).to_s %>
        <% end %>
        <% if @users.size == 10 %>
          <%= link_to "次の10件", "/users?period=" + @period + "&page=" + (@page_index + 1).to_s %>
        <% end %>
      </div>
    </main>
    <style>
      * {
        margin: 0%;
        padding: 0%;
      }
      body {
        background: gainsboro;
      }
      header {
        color: white;
        background: teal;
        margin-bottom: 10px;
        font-size: 18px;
        padding: 7px;
      }
      main {
        background: white;
      }
      div#user_info {
        font-size: 20px; 
        margin-bottom: 20px; 
        text-align: center;
      }
      div#pages {
        text-align: center;
      }
      table {
        margin-left: 5%;
        text-align: center;
        width: 1000px;
        height: 10px;
        margin-bottom: 10px;
      } 
      table th {
        padding: 3px;
        color: white;
        background: aqua;
      }
      table td {
        padding: 3px;
      }
      input[type=button] {
        color: white;
        background: cornflowerblue;
        border-radius: 5px;
        border: none;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 15px;
        font-weight: bold;
        padding: 3px;

      }
      input[type=submit] {
        width: 100%;
        color: white;
        background: cornflowerblue;
        border-radius: 5px;
        border: none;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 15px;
        font-weight: bold;
        padding: 3px;
      }
    </style>
  </body>
</html>