<!DOCTYPE html5>
<html>
  <head>
  </head>
  <body>
    <header>
      <p>勤怠管理システム</p>
    </header>
    <main>
      <p><%= @date %></p>
      <table order="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
        <tr>
          <th>社員番号</th>
          <th>氏名</th>
          <th>状態</th>
          <th></th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user["user_id"] %></td>
            <td><%= user["name"] %></td>
            <td><%= user["state"] %></td>
            <% if user["state"] != "編集中" %>
              <td>
                <%= form_tag("/report/" + user["user_id"], method: :get) do %>
                  <%= hidden_field_tag :period, @period %>
                  <input type="submit" value="報告を表示する"> 
                  <!--<%= submit_tag "報告を表示する" %>-->
                <% end %>
              </td>
            <% else %>
              <td>-</td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </main>
  </body>
</html>