<!DOCTYPE html5>
<html>
  <head>
  </head>
  <body>
    <header>
      <p>勤怠管理システム</p>
    </header>
    <main>
      <table order="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>開始時刻</th>
          <th>終了時刻</th>
          <th>休憩時間</th>
          <th>稼働時間</th>
          <th>チェック</th>
        </tr>
        <td>
        　<th>8/31</th>
          <th>日</th>
          <th>12:00</th>
          <th>17:00</th>
          <th>01:30</th>
          <th>04:00</th>
          <th><input class="manager_check" type="checkbox"></th>
        </td>
      </table>
      <div>
        <%= form_tag("/report/" + @user_id + "/" + @period) do %>
          <%= hidden_field :operation, :value => "承認" %>
          <%= submit_tag "承認" %>
        <% end %>
        <%= form_tag("/report/" + @user_id + "/" + @period) do %>
          <%= hidden_field :operation, :value => "差し戻し" %>
          <%= submit_tag "差し戻し" %>
        <% end %>
        <%= form_tag("/report/" + @user_id + "/" + @period) do %>
          <%= hidden_field :operation, :value => "キャンセル" %>
          <%= submit_tag "キャンセル" %>
        <% end %>
      </div>
    </main>
    <script>
      function check() {
        var checkbox = document.getElementsByClassName("manager_check");
        for (var i = 0; i <= checkbox.length - 1; i++) {
          if (checkbox[i].checked == false) {
            alert("error");
          }
        }
      }
    </script>
  </body>
</html>