<!DOCTYPE html5>
<html>
  <head>
  </head>
  <body>
    <header>
      <p>勤怠管理システム</p>
    </header>
    <main>
      <div id="reporter_info">
        <p><%= @period %>勤怠報告</p>
        <p>氏名: <%= @user_name %></p>
        <p>所属: <%= @department_name %></p>  
      </div>
    　<%= form_tag("/report", method: :post) do %>
        <table border="1" cellspacing="0" cellpadding="5" bordercolor="#333333">
          <tr>
            <th>日付</th>
            <th>曜日</th>
            <th>開始時刻<br>(休みの日は00:00)</th>
            <th>終了時刻<br>(休みの日は00:00)</th>
            <th>休憩時間合計<br>(単位: 分)</th>
            <th>稼働時間合計</th>
            <th>マネージャーチェック</th>
          </tr>
          <% day_count = 0 %>
          <% working_date_sum = 0 %>
          <% @report_data_array.each do |report_data| %>
            <%= hidden_field_tag "date[]", report_data["date"] %>
        　  <tr>
              <% report_data.keys.each do |key| %>
                <% if key == "manager_check" %>
                  <!--hiddenとcheckboxのnameは同じにする -->
                  <%= hidden_field_tag "manager_check[]" %>
                  <% if report_data[key] == 1 %>
                    <td>承認済み</td>
                    <%= hidden_field_tag "manager_check[]", 1 %>
                  <% else %>
                    <td class="check"><%= check_box_tag "manager_check[]" %></td>
                  <% end %>
                <% elsif key == "start_time" or key == "finish_time" %>
                  <td><%= report_data[key].strftime("%H:%M") %></td>
                <% elsif key == "working_time" %>
                  <% if report_data[key] > 0 %>
                    <% day_count += 1 %>
                    <% working_date_sum += report_data[key] %>
                  <% end %>
                  <% hours = report_data["working_time"].floor %>
                  <% minutes = (report_data["working_time"] - hours) * 60 %>
                  <td><%= hours.to_s + "時間" + minutes.ceil.to_s + "分" %></td>
                <% else %>
                  <td><%= report_data[key] %></td>
                <% end %>
              <% end %> 
            </tr>
          <% end %>
          <tr>
          　<td>合計</td>
            <td><%= day_count.to_s + "日" %></td>
            <% hours = working_date_sum.floor %>
            <% minutes = (working_date_sum - hours) * 60 %>
            <td><%= hours.to_s + "時間" + minutes.ceil.to_s + "分" %></td>
          <tr>
        </table>
        <%= hidden_field_tag "user_id", @user_id %>
        <%= hidden_field_tag "period", @period %>
        <div id="button_area">
          <input type="button" value="チェックテスト" onClick="test()" %>
          <input type="button" value="チェック漏れ確認" onClick="check()" %>
          <%= submit_tag "承認", name:"approval", disabled: true %>
          <%= submit_tag "差し戻し", name:"remand" %>
          <%= submit_tag "キャンセル" %>
        </div>
      <% end %>
    </main>
    <script>

      function check() {

        var checkbox = document.getElementsByClassName("check");
        var all_checked = true;

        for (var i = 0; i <= checkbox.length - 1; i++) {
          if (checkbox[i].childNodes[0].checked == false) {
            document.getElementsByClassName("check")[i].style.background = "red";
            all_checked = false;
          } else {
            document.getElementsByClassName("check")[i].style.background = "white";
          }
        }
        
        if (all_checked == true) {
          document.getElementsByName("approval")[0].disabled = false;
        } else {
          document.getElementsByName("approval")[0].disabled = true;
        }

      }

      //テスト用
      function test() {

        var checkbox = document.getElementsByClassName("check");

        for (var i = 0; i <= checkbox.length - 1; i++) {
          document.getElementsByClassName("check")[i].childNodes[0].checked = true;
        }

      }

    </script>
    <style>
      * {
        margin: 0%;
        padding: 0%;
      }
      body {
        background: gainsboro;
      }
      header {
        color: white;
        background: teal;
        margin-bottom: 10px;
        font-size: 18px;
        padding: 7px;
      }
      main {
        background: white;
      }
      div#reporter_info {
        font-size: 20px; 
        margin-bottom: 10px; 
        text-align: center;
      }
      table {
        margin-left: 5%;
        text-align: center;
        width: 1000px;
        height: 10px;
        margin-bottom: 10px;
      } 
      table th {
        padding: 3px;
        color: white;
        background: aqua;
      }
      table td {
        padding: 3px;
      }
      div#button_area {
        text-align: center;
      }
      input[type=button] {
        color: white;
        background: cornflowerblue;
        border-radius: 5px;
        border: none;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 15px;
        font-weight: bold;
        padding: 3px;

      }
      input[type=submit] {
        color: white;
        background: cornflowerblue;
        border-radius: 5px;
        border: none;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 15px;
        font-weight: bold;
        padding: 3px;
      }
    </style>
  </body>
</html>