<!DOCTYPE html5>
<html>
  <head>
  </head>
  <body>
    <header>
      <p>勤怠管理システム</p>
    </header>
    <main>
      <table order="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>開始時刻</th>
          <th>終了時刻</th>
          <th>休憩時間</th>
          <th>稼働時間</th>
          <th>チェック</th>
        </tr>
        <% @report_data_array.each do |report_data| %>
        　<tr>
            <% report_data.keys.each do |key| %>
              <td><%= report_data[key] %></td>
            <% end %> 
            <td><input type="checkbox"></td>
          </tr>
        <% end %> 
      </table>
      <div>
        <% ["承認", "差し戻し", "キャンセル"].each do |operation| %>
          <%= form_tag("/report/" + @user_id, method: :post) do %>
            <%= hidden_field_tag :period, @period %>
            <%= hidden_field_tag :operation, operation %>
            <%= submit_tag operation %>   
          <% end %>
        <% end %>
      </div>
    </main>
    <script>
      function check() {
        var checkbox = document.getElementsByClassName("manager_check");
        for (var i = 0; i <= checkbox.length - 1; i++) {
          if (checkbox[i].checked == false) {
            alert("error");
          }
        }
      }
    </script>
  </body>
</html>