<!DOCTYPE html5>
<html>
  <head>
  </head>
  <body>
    <header>
      <p>勤怠管理システム</p>
    </header>
    <main>
      <div id="reporter_info">
        <p><%= @period %>勤怠報告</p>
        <p>氏名: <%= @user_name %></p>
        <p>所属: <%= @department_name %></p> 
      </div>
     <%= form_tag("/report", method: :post) do %>
        <table border="1" cellspacing="0" cellpadding="5" bordercolor="#333333">
          <tr>
            <th>日付</th>
            <th>曜日</th>
            <th>開始時刻<br>(休みの日は00:00)</th>
            <th>終了時刻<br>(休みの日は00:00)</th>
            <th>休憩時間合計<br>(単位: 分)</th>
            <th>稼働時間合計</th>
            <th>マネージャーチェック</th>
          </tr>
          <% day_count = 0 %>
          <% working_date_sum = 0 %>
          <% @report_data_array.each do |report_data| %>
            <tr class="table_rows">
              <% report_data.keys.each do |key| %>
                <% if key == "start_time" or key == "finish_time" or key == "break_time" %>
                  <% if report_data[key].class == Time %>
                    <% report_data[key] = report_data[key].strftime("%H:%M") %>
                  <% end %>
                  <td><%= text_field_tag key + "[]", report_data[key] %></td>
                <% elsif key == "working_time" %>
                  <% if report_data[key] > 0 %>
                    <% day_count += 1 %>
                    <% working_date_sum += report_data[key] %>
                  <% end %>
                  <% hours = report_data["working_time"].floor %>
                  <% minutes = (report_data["working_time"] - hours) * 60 %>
                  <td><%= hours.to_s + "時間" + minutes.ceil.to_s + "分" %></td>
                <% elsif key == "manager_check" %>
                  <% if report_data[key] == 1 %>
                    <td>◯</td>
                  <% else %>
                    <!-- normalでは"未確認" -->
                    <td>未入力・不備あり</td>
                  <% end %>
                <% else %>
                  <td><%= report_data[key] %></td>
                <% end %>
              <% end %>
              <%= hidden_field_tag "date[]", report_data["date"] %>
            </tr>
          <% end %>
          <tr>
          　<td>合計</td>
            <td><%= day_count.to_s + "日" %></td>
            <% hours = working_date_sum.floor %>
            <% minutes = (working_date_sum - hours) * 60 %>
            <td><%= hours.to_s + "時間" + minutes.ceil.to_s + "分" %></td>
          <tr>
        </table>
        <div id="button_area">
          <input type="button" value="入力テスト" onClick="test()" %>
          <input type="button" value="入力形式チェック" onClick="checkFormat()" %>
          <%= hidden_field_tag "user_id", @user_id %>
          <%= hidden_field_tag "period", @period %>
          <%= submit_tag "承認依頼", name: "approval_request", disabled: true %> 
          <%= submit_tag "保存", name: "save", disabled: true %>      
          <%= submit_tag "キャンセル" %>
        </div>
      <% end %>
    </main>
    <script>

      function checkFormat() {
        
        var start_time_array = document.getElementsByName("start_time[]");
        var finish_time_array = document.getElementsByName("finish_time[]");
        var break_time_array = document.getElementsByName("break_time[]");

        var checkTimeFormat = function(time) {
          if (time.length == 5 && time.match(/[0-9]{2}:[0-9]{2}/) != null) {
            return true;
          }
          return false;
        }

        for (var i = 0; i <= start_time_array.length - 1; i++) {
          //形式が正しくなかった時点でチェックが停止(修正後にまたチェックするので一度に全てを検査する必要はない)
          if (checkTimeFormat(start_time_array[i].value) == true && checkTimeFormat(finish_time_array[i].value) == true && break_time_array[i].value.match(/[^0-9]/) == null) {
            document.getElementsByClassName("table_rows")[i].style.background = "white";
          } else {
            document.getElementsByClassName("table_rows")[i].style.background = "red";
            document.getElementsByName("approval_request")[0].disabled = "disabled";
            document.getElementsByName("save")[0].disabled = "disabled";
            return;
          }
        }

        document.getElementsByName("approval_request")[0].disabled = "";
        document.getElementsByName("save")[0].disabled = "";

      }

      //テスト用
      function test() {

        for (var i = 0; i <= document.getElementsByName("start_time[]").length - 1; i++) {
          document.getElementsByName("start_time[]")[i].value = "12:00";
          document.getElementsByName("finish_time[]")[i].value = "19:00";
          document.getElementsByName("break_time[]")[i].value = 60;
        }

      }

    </script>
    <style>
      * {
        margin: 0%;
        padding: 0%;
      }
      body {
        background: gainsboro;
      }
      main {
        background: white;
      }
      header {
        color: white;
        background: teal;
        margin-bottom: 10px;
        font-size: 18px;
        padding: 7px;
      }
      div#reporter_info {
        font-size: 20px; 
        margin-bottom: 10px; 
        text-align: center;
      }
      table {
        margin-left: 5%;
        text-align: center;
        width: 1000px;
        height: 10px;
        margin-bottom: 10px;
      } 
      table th {
        padding: 3px;
        color: white;
        background: aqua;
      }
      table td {
        padding: 3px;
      }
      div#button_area {
        text-align: center;
      }
      input[type=button] {
        color: white;
        background: cornflowerblue;
        border-radius: 5px;
        border: none;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 15px;
        font-weight: bold;
        padding: 3px;

      }
      input[type=submit] {
        color: white;
        background: cornflowerblue;
        border-radius: 5px;
        border: none;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 15px;
        font-weight: bold;
        padding: 3px;
      }
    </style>
  </body>
</html>