<!DOCTYPE html5>
<html>
  <head>
  </head>
  <body>
    <header>
      <p>勤怠管理システム</p>
    </header>
    <main>
      <p><%= @period %>勤怠報告</p>
      <table order="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>開始時刻</th>
          <th>終了時刻</th>
          <th>休憩時間</th>
          <th>稼働時間</th>
        </tr>
        <% @report_data_array.each do |report_data| %>
          <tr>
            <% report_data.keys.each do |key| %>
              <% if key == "start_time" or key == "finish_time" or key == "break_time" %>
                <td><%= form.text_field :time %></td>
              <% else %>
                <td><%= report_data[key] %></td>
              <% end %> 
            <% end %>
          </tr>
        <% end %>
      </table>
      <div>
        <%= form_tag("/report/" + @user_id + "/" + @period) do %>
          <%= hidden_field :operation, :value => "承認依頼" %>
          <%= submit_tag "承認依頼" %>
        <% end %>
        <%= form_tag("/report/" + @user_id + "/" + @period) do %>
          <%= hidden_field :operation, :value => "保存" %>
          <%= submit_tag "保存" %>
        <% end %>
        <%= form_tag("/report/" + @user_id + "/" + @period) do %>
          <%= hidden_field :operation, :value => "キャンセル" %>
          <%= submit_tag "キャンセル" %>
        <% end %>
      </div>
    </main>
    <script>
      function check() {
        var checkbox = document.getElementsByClassName("manager_check");
        for (var i = 0; i <= checkbox.length - 1; i++) {
          if (checkbox[i].checked == false) {
            alert("error");
          }
        }
      }
    </script>
  </body>
</html>